<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.status ? "Còn hàng" : "hết hàng" }}</td>
            <td>
                <button class="btn btn-danger">
                Delete
              </button>
                <button class="btn btn-info ms-1">
                Detail
              </button>
            </td>
        </tr>
    </tbody>
</table>
